<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868212087603-mrn4f87lkkieoaqqqaqutr1dpv85dd1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868212087603-mrn4f87lkkieoaqqqaqutr1dpv85dd1c</string>
	<key>API_KEY</key>
	<string>AIzaSyDsKawA_S2krSpQKk1nsEIXEZpVCsdUDKk</string>
	<key>GCM_SENDER_ID</key>
	<string>868212087603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SE-Ltd..Minesweeper</string>
	<key>PROJECT_ID</key>
	<string>minesweeper-6f6e9</string>
	<key>STORAGE_BUCKET</key>
	<string>minesweeper-6f6e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868212087603:ios:8de35e95d40c555e</string>
	<key>DATABASE_URL</key>
	<string>https://minesweeper-6f6e9.firebaseio.com</string>
</dict>
</plist>